{% load static %}
import dash_core_components as dcc
import dash_html_components as html
from .models import Author
from django.shortcuts import get_object_or_404
import pandas as pd
import plotly.graph_objs as go
import numpy as np


<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Axicor Sport Analytics</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'dashboard/jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/bootstrap.min.js' %}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Add additional CSS in static file -->
  <link href="{% static 'dashboard/react-select@1.0.0-rc.3.min.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/custom_dash_styles.css' %}" rel="stylesheet">
</head>


<body>
<h1>Django Website</h1>
    <div class="col-sm-12">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
